[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wand = ">=0.6.6,<1.0"
vkwave = ">=0.2.10,<1.0"
cachetools = ">=4.2.1,<5.0"

[dev-packages]

[requires]
python_version = "3"